#controls {
    margin-bottom: 10px;
  }
  
  canvas {
    border: 3px solid #000;
    size: 100px;
  }
  body{
    background-color:aliceblue;
  }
  button {
    background-color:rgb(120, 233, 237);
    color: black;
    border: none;
    
   }
   h1
   {
    color: rgb(16, 198, 204);
   }